{% load static %}
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark info-color">
  <a href="" class="navbar-brand">Revenue
   {% if request.session.usd_ars %}
      in USD (ARS {{request.session.usd_ars}}, BRL {{request.session.usd_brl}})
    {% endif %}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    </ul>
  </div>
</nav>
<!--/.Navbar -->
