{% load static %}
<!-- Sidebar -->
<nav class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Menu</div>
    <div class="list-group list-group-flush bg-light">
        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
        <a href="{% url 'organizers-transactions' %}" class="list-group-item list-group-item-action">Transactions</a>
        <a href="{% url 'top-organizers' %}" class="list-group-item list-group-item-action">Top Organizers</a>
        <a href="{% url 'top-organizers-refunds' %}" class="list-group-item list-group-item-action">Top Organizers Refunds</a>
        <a href="{% url 'top-events' %}" class="list-group-item list-group-item-action">Top Events</a>
        <a href="#" class="list-group-item list-group-item-action flex-column cursor-default">
            Group transactions by
            <form method="get" action="{% url 'transactions-grouped' %}">
                <select id="groupby-select" name="groupby" class="form-control">
                    <option value="" disabled selected>--------</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="semi_month">Semi-Month</option>
                    <option value="month">Month</option>
                    <option value="quarter">Quarter</option>
                    <option value="year">Year</option>
                    <option value="eventholder_user_id">Organizer ID</option>
                    <option value="email">Organizer Email</option>
                    <option value="event_id">Events</option>
                    <option value="payment_processor">Payment Processor</option>
                    <option value="sales_flag">Sales Flag</option>
                    <option value="sales_vertical">Sales Vertical</option>
                    <option value="vertical">Vertical</option>
                    <option value="sub_vertical">Sub Vertical</option>
                    <option value="currency">Currency</option>
                </select>
                <button type="submit" class="mt-1 btn btn-evb-orange btn-sm">Apply</button>
            </form>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column cursor-default">
            Filters:
            <form method="get">
                <input type="hidden" name="groupby" value="{{request.GET.groupby}}">
                <input type="date" class="form-control" name="start_date" value={{request.GET.start_date}}>
                <input type="date" class="form-control" name="end_date" value={{request.GET.end_date}}>
                <select id="currency-select" class="form-control" name="currency" placeholder="Currency">
                    <option value="" disabled selected>Currency</option>
                    <option value="ARS">ARS</option>
                    <option value="BRL">BRL</option>
                </select>
                {% csrf_token %}
                <button type="submit" class="mt-1 btn btn-evb-orange btn-sm">Apply</button>
            </form>
        </a>
        <hr class="sidebar-divider my-0">
    </div>
</nav>
<!-- /#sidebar-wrapper -->
