{% extends 'revenue_app/base.html' %}
{% load static %}
{% load glossary_filters %}
{% load humanize %}

{% block content %}
<div class="dropdown show">
  <h1>
    <span id="title" >Dashboard</span>
    <a class="btn btn-evb-orange dropdown-toggle fa fa-download" href="#" role="button" data-toggle="dropdown"></a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a id="getPdf" href="" class="dropdown-item"><i class="fas fa-file-pdf"></i>PDF</a>
    </div>
  </h1>
</div>
<br>
<div id="summarized-data" class="row m-0">
  {% for currency, data in summarized_data.items %}
    <div class="col-xl-6">
      <h4>{{currency}}</h4>
      <table class="table table-striped mt-4">
        {% for parent_key, parent_value in data.items %}
        <tr>
          <td class="dashboard-grouper-td" rowspan="{{ parent_value|length }}"><b>{{parent_key}}</b></td>
          {% for child_key, child_value in parent_value.items %}
            {% if not forloop.first %}
              <tr>
            {% endif %}
            <td><b data-toggle="tooltip" data-placement="top" title="{% glossary parent_key|add:child_key %}">{{child_key}}</b></td>
            <td class="text-right text-monospace">{{child_value|intcomma}}</td>
            {% if not forloop.first %}
              </tr>
            {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>
<div class="row m-3">
  <h3>Charts</h3>
</div>
<div class="row">
  <div class="col-xl-6">
      <form method="get" class="list-group-item list-group-item-action" id="chart-selector">
        <div class="form-row">
          <div class="col">
            <label for="type-selector">Type</label>
            <select id="type-selector" name="type-selector" class="form-control form-control-sm">
                <option value="" disabled selected>Choose...</option>
                <option value="payment_processor">Payment Processor</option>
                <option value="sales_flag">Sales Flag</option>
            </select>
          </div>
          <div class="col">
            <label for="filter-selector">Referred to</label>
            <select id="filter-selector" name="filter-selector" class="form-control form-control-sm">
                <option value="" disabled selected>Choose...</option>
                <option value="gtv">GTV</option>
                <option value="gtf">GTF</option>
                <option value="organizers">Organizers</option>
            </select>
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col">
            <button type="submit" class="mt-1 btn btn-evb-orange btn-sm float-right">Apply</button>
          </div>
        </div>
      </form>
  </div>
</div>
<br>
<div class="row mt-4" id="chart-container">

</div>
{% endblock content %}
{% block scripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
  <script type="text/javascript" src="{% static 'revenue_app/js/donut_chart.js' %}"></script>
  <script type="text/javascript">
    document.getElementById('chart-selector').addEventListener('submit', e => {

      e.preventDefault();
      let type = document.getElementById('type-selector').value;
      let filter = document.getElementById('filter-selector').value;
      fetch(`{% url "json_dashboard_summary" %}?type=${type}&filter=${filter}`)
        .then(res => res.json())
        .then(json => {
          if (jQuery.isEmptyObject(json)){
            const container = document.getElementById('chart-container');
            container.innerHTML = '';
            let msg = document.createElement('div');
            msg.classList.add('alert', 'alert-danger', 'col-6');
            msg.textContent = 'Chart does not exist.';
            container.appendChild(msg);
          } else {
            setChart(json);
          }
        })
    });

    document.getElementById("getPdf").addEventListener("click", e => {
      e.preventDefault();
      generateDashboardPDF();
    });
  </script>
{% endblock scripts %}
