{% extends 'revenue_app/base.html' %}
{% load static %}
{% load number_filters %}
{% block content %}
<div class="row m-0">
    <div class="col-12">
        {% if request.GET.start_date %}
        <h5>from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
        {% endif %}
        <div class="dropdown show">
            <h1>
                <span>Event details</span>
                <a class="btn btn-evb-orange dropdown-toggle fa fa-download" href="#" role="button" data-toggle="dropdown"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'download-csv' csv_name='event_'|add:event_id %}"><i class="fas fa-file-csv"></i> CSV</a>
                    <a class="dropdown-item" href="{% url 'download-excel' xls_name='event_'|add:event_id %}"><i class="fas fa-file-excel"></i> Excel</a>
                    <a class="dropdown-item" href="{% url 'download-event-pdf' event_id=event_id%}" target="_blank"><i class="fas fa-file-pdf"></i> PDF</a>
                </div>
            </h1>
        </div>
    </div>
</div>
<div class="row m-0">
    <div class="col-7 mb-3">
        <table class="table table-striped mt-4 table-sm">
        {% for key, value in details.items %}
            <tr>
                <td class="summarized-key"><b>{{key}}</b></td>
                {% if value|is_numeric %}
                <td class="text-right text-monospace">{{value|floatformat:2}}</td>
                {% else %}
                <td class="text-right">{{value}}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col"></div>
</div>
<div class="row m-0">
{% for name, data in sales_refunds.items %}
    <div class="col-xl-6 mb-3">
        <h4>{{name}}</h4>
        <table class="table table-striped table-sm mt-4">
            {% for key, value in data.items %}
            <tr>
                <td><b>{{key}}</b></td>
                <td class="text-right text-monospace">{{value|floatformat:2}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endfor %}
</div>
{% include 'revenue_app/_dynamic_table.html' %}

{% endblock content %}
