{% extends 'revenue_app/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
		<h1><b>Event details</b></h1>
		{% if request.GET.start_date %}
			<h5>from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
		{% endif %}
		<div style="margin-bottom: 20px">
			<h5><b>Event ID: </b>{{event_id}}</h5>
			<h5><b>Event PaidTix: </b>{{event_paidtix}}</h5>
			<h5><b>Organizer ID:</b> {{organizer_id}}</h5>
			<h5><b>E-mail: </b>{{organizer_email}}</h5>
		</div>
    </div>
</div>
<div class="row">
	{% include 'revenue_app/_dynamic_table.html' %}
</div>

{% endblock content %}

