{% extends 'revenue_app/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-12">
	<h1 style="text-align: center"> Event list </h1>
	<table class="table table-hover">
	    <thead>
		<tr>
		    <th scope="col">eventholder_user_id</th>
		    <th scope="col">transaction_created_date</th>
		    <th scope="col">payment_processor</th>
		    <th scope="col">event_id</th>
		    <th scope="col">email</th>
		    <th scope="col">sale__payment_amount__epp</th>
		    <th scope="col">sale__eb_tax__epp</th>
		    <th scope="col">sale__ap_organizer__gts__epp</th>
		    <th scope="col">sale__ap_organizer__royalty__epp</th>
		    <th scope="col">sale__gtf_esf__epp</th>
		    <th scope="col">sale__gtf_esf__offline</th>
		    <th scope="col">refund__payment_amount__epp</th>
		    <th scope="col">refund__gtf_epp__gtf_esf__epp</th>
		    <th scope="col">refund__ap_organizer__gts__epp</th>
		    <th scope="col">refund__eb_tax__epp</th>
		</tr>
	    </thead>
	    <tbody>
		{% for index, event in events.iterrows %}
		<tr>
		    <td>{{event.eventholder_user_id}}</td>
		    <td>{{event.transaction_created_date}}</td>
		    <td>{{event.payment_processor}}</td>
		    <td>{{event.event_id}}</td>
		    <td>{{event.email}}</td>
		    <td>{{event.sale__payment_amount__epp}}</td>
		    <td>{{event.sale__eb_tax__epp}}</td>
		    <td>{{event.sale__ap_organizer__gts__epp}}</td>
		    <td>{{event.sale__ap_organizer__royalty__epp}}</td>
		    <td>{{event.sale__gtf_esf__epp}}</td>
		    <td>{{event.sale__gtf_esf__offline}}</td>
		    <td>{{event.refund__payment_amount__epp}}</td>
		    <td>{{event.refund__gtf_epp__gtf_esf__epp}}</td>
		    <td>{{event.refund__ap_organizer__gts__epp}}</td>
		    <td>{{event.refund__eb_tax__epp}}</td>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
    </div>
</div>

{% endblock content %}

