<html>
  <head>
    {% load static %}
    {% block layout_style %}
    <style type="text/css">
      @page {
        size: A0 landscape;
        margin: 1cm;
      }
      .page-break{
        page-break-after: always;
      }
    </style>
    {% endblock %}
  </head>
  <body>
    <div class="row">
      <div class="col-md-12">
        <div class="mb-4">
          <h1>Organizer details</h1>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>Details</b></h5>
                {% for key, value in details.items %}
                <p class="card-text"><b>{{key}}:</b>{{value}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          {% for name, data in sales_refunds.items %}
          <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>{{name}}</b></h5>
                {% for key, value in data.items %}
                <p class="card-text"><b>{{key}}:</b>{{value}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
          {% for name, data in net_sales_refunds.items %}
          <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>{{name}}</b></h5>
                {% for key, value in data.items %}
                <p class="card-text"><b>{{key}}:</b>{{value}}</p>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>
    {% block content %}
    <div class="row">
      <div class="col-12">
        {% include 'revenue_app/_dynamic_table_pdf.html' %}
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
