
{% extends 'revenue_app/base.html' %}
{% load static %}
{% load date_filters %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h1>Queries</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% if error %}
      <div class="alert alert-danger">
        {{ error|safe }}
      </div>
    {% elif queries_status %}
      <div class="alert alert-success">
        Successful queries:
        <ul class="mb-0">
        {% for status in queries_status %}
          <li>{{ status }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>

<form id="query-form" method="POST" action="{% url 'make-query' %}">
  <div class="row">
  {% for field in form.visible_fields %}
    {% if field.field.widget.input_type in 'text,password' %}
    <div class="col-12">
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    </div>
    {% elif field.field.widget.input_type == 'date' %}
    <div class="col-6">
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
  {% csrf_token %}
  <div class="row mt-3">
    <div class="col-12">
      <button id="submit-btn" type="submit" class="btn btn-block btn-evb-orange">Make Query</button>
    </div>
  </div>
</form>
<div class="text-center">
    <h6 id="gif" class="hidden">
        <img src="{% static 'busy.gif' %}" height="42" width="42" >
        Running queries...
    </h6>
</div>
<br>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function () {
		$("#query-form").submit(function () {
			$("#submit-btn").attr("disabled", true);
			$('#gif').show();
		});
	});
</script>
{% endblock scripts %}
