{% extends 'revenue_app/base.html' %}
{% load static %}

{% block content %}
<div class="row m-0">
  <div class="col-12">
    <div class="dropdown show">
      <h1 class="text-center">
        <span id="title-ARS" >
          Top 10 Argentina Organizers with most refunds
        </span>
        <a class="btn btn-evb-orange dropdown-toggle fa fa-download" href="#" role="button" data-toggle="dropdown"></a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a id="getPdf" href="" class="dropdown-item"><i class="fas fa-file-pdf"></i>PDF</a>
        </div>
      </h1>
    </div>
    {% if request.GET.start_date %}
      <h5 class="text-center">from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
    {% endif %}
  </div>
</div>
<br>
<div id="dynamic-table-ARS" class="row">
{% if exchange_data %}
  {% include 'revenue_app/_dynamic_table.html' with transactions=top_ars int=True currency='USD' %}
{% else %}
  {% include 'revenue_app/_dynamic_table.html' with transactions=top_ars int=True currency='ARS' %}
{% endif %}
</div>
<div class="row">
  <div class="col-6">
    <div class="card--chart">
      <div id="chart-ARS" class="js-donut-chart-container-ars donut-chart-container"></div>
    </div>
  </div>
  <div class="col-6">
    <div class="card--chart">
      <div id="legend-ARS" class="js-legend-chart-container-ars legend-chart-container"></div>
    </div>
  </div>
</div>
<br>
<hr class="mb-4 mt-4">
<br>
<div class="row m-0">
  <div class="col-12">
    <h1 class="text-center">
      <span id="title-BRL">
        Top 10 Brazil Organizers with most refunds
      </span>
    </h1>
    {% if request.GET.start_date %}
      <h5 class="text-center">from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
    {% endif %}
  </div>
</div>
<br>
<div id="dynamic-table-BRL" class="row">
{% if exchange_data %}
  {% include 'revenue_app/_dynamic_table.html' with transactions=top_brl int=True currency='USD' %}
{% else %}
  {% include 'revenue_app/_dynamic_table.html' with transactions=top_brl int=True currency='BRL' %}
{% endif %}
</div>
<div class="row">
  <div class="col-6">
    <div class="card--chart">
      <div id="chart-BRL" class="js-donut-chart-container-brl donut-chart-container"></div>
    </div>
  </div>
  <div class="col-6">
    <div class="card--chart">
      <div id="legend-BRL" class="js-legend-chart-container-brl legend-chart-container"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
  <script type="text/javascript" src="{% static 'revenue_app/js/donut_chart.js' %}"></script>
  <script type="text/javascript">
    fetch('{% url "json_top_organizers_refunds" %}')
      .then(res => res.json())
      .then(json => {
        let arsData = json['ars_data'];
        let brlData = json['brl_data'];
        let legendHeight = 400;
        createDonutChart(arsData, 'ars', legendHeight);
        createDonutChart(brlData, 'brl', legendHeight);
      });

    document.getElementById("getPdf").addEventListener("click", e => {
      e.preventDefault();
      generateTopPDF('top_organizers_refunds');
    });
    </script>
</script>
{% endblock scripts %}
