{% extends 'revenue_app/base.html' %}
{% load static %}

{% block content %}
	<div class="dropdown show">
	    <h1 class="text-center">
		<span>Top 10 Argentina Events</span>
		<a class="btn btn-evb-orange dropdown-toggle fa fa-download" href="#" role="button" data-toggle="dropdown"></a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		  <a class="dropdown-item" href="{% url 'download-top-events-pdf'%}" target="_blank"><i class="fas fa-file-pdf"></i> PDF</a>
		</div>
	    </h1>
    </div>
{% if request.GET.start_date %}
	<h5 class="text-center">from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
{% endif %}
<br>
<div class="row">
    <div class="col-12">
        {% include 'revenue_app/_dynamic_table.html' with transactions=top_event_ars %}
    </div>
</div>
<div class="row">
    <div class="col"></div>
	<div class="col-7 chart-container">
		<canvas id="chart_arg"></canvas>
	</div>
    <div class="col"></div>
</div>
<br>
<hr class="mb-4 mt-4">
<br>
<h1 class="text-center">Top 10 Brazil Events</h1>
{% if request.GET.start_date %}
	<h5 class="text-center">from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
{% endif %}
<br>
<div class="row">
    <div class="col-12">
        {% include 'revenue_app/_dynamic_table.html' with transactions=top_event_brl %}
    </div>
</div>
<div class="row">
    <div class="col"></div>
	<div class="col-lg-7 chart-container">
		<canvas id="chart_brl"></canvas>
	</div>
    <div class="col"></div>
</div>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chartjs-plugin-datalabels.min.js' %}"></script>
<script type="text/javascript">
  Chart.plugins.unregister(ChartDataLabels);

  $.get('{% url "json_top_events" %}', function(data) {
    var ctx_ars = $("#chart_arg").get(0).getContext("2d");
    new Chart(ctx_ars, {
      type: 'doughnut',
      data: {
        labels: data.arg.labels,
        datasets: [{
          label: "Top Argentina Events",
          data: data.arg.data,
          fill: false,
          backgroundColor: data.arg.backgroundColor,
          borderColor: data.arg.borderColor,
          borderWidth: 1,
        }]
      },
      plugins: [ChartDataLabels],
      options: {
        legend: { position: 'right', align: 'center' },
        plugins: {
          datalabels: {
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => { sum += data; });
              let percentage = (value*100/sum).toFixed(2) + "%";
              return percentage;
            }
          }
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    });

    var ctx_brl = $("#chart_brl").get(0).getContext("2d");
    new Chart(ctx_brl, {
      type: 'doughnut',
      data: {
        labels: data.brl.labels,
        datasets: [{
          label: "Top Brazil Organizers",
          data: data.brl.data,
          fill: false,
          backgroundColor: data.brl.backgroundColor,
          borderColor: data.brl.borderColor,
          borderWidth: 1,
        }]
      },
      plugins: [ChartDataLabels],
      options: {
        legend: { position: 'right', align: 'center' },
        plugins: {
          datalabels: {
            formatter: (value, ctx) => {
              let sum = 0;
              let dataArr = ctx.chart.data.datasets[0].data;
              dataArr.map(data => { sum += data; });
              let percentage = (value*100/sum).toFixed(2) + "%";
              return percentage;
            }
          }
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    });
  });
</script>
{% endblock scripts %}
