<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
      @page {
          size: A4 landscape;
          margin: 1cm;
      }
      .page-break{
          page-break-after: always;
      }
    </style>
  </head>
  <body>
    <div class="dropdown show">
      <h1 class="text-center"> Top 10 Argentina Organizers</h1>
    </div>
    {% if request.GET.start_date %}
    	<h5 class="text-center">from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
    {% endif %}
    <br>
    <div class="row">
      <div class="col-12">
        {% include 'revenue_app/_dynamic_table_pdf.html' with transactions=top_ars %}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card--chart">
          <div class="js-donut-chart-container-ars donut-chart-container"></div>
        </div>
      </div>
      <div class="col-6">
        <div class="card--chart">
          <div class="js-legend-chart-container-ars legend-chart-container"></div>
        </div>
      </div>
    </div>
    <br>
    <h1 class="text-center">Top 10 Brazil Organizers</h1>
    {% if request.GET.start_date %}
    	<h5 class="text-center">from {{request.GET.start_date}} to {{request.GET.end_date|default:request.GET.start_date}}</h5>
    {% endif %}
    <br>
    <div class="row">
      <div class="col-12">
        {% include 'revenue_app/_dynamic_table_pdf.html' with transactions=top_brl %}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card--chart">
          <div class="js-donut-chart-container-brl donut-chart-container"></div>
        </div>
      </div>
      <div class="col-6">
        <div class="card--chart">
          <div class="js-legend-chart-container-brl legend-chart-container"></div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.4/d3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/britecharts@2/dist/bundled/britecharts.min.js"></script>
    <script type="text/javascript" src="{% static 'revenue_app/js/donut_chart.js' %}"></script>
    <script type="text/javascript">
      fetch('{% url "json_top_organizers" %}')
        .then(res => res.json())
        .then(json => {
          let arsData = json['ars_data'];
          let brlData = json['brl_data'];
          let legendHeight = 400;
          createDonutChart(arsData, 'ars', legendHeight);
          createDonutChart(brlData, 'brl', legendHeight);
        });
    </script>
  </body>
</html>
