{% extends 'revenue_app/base.html' %}
{% load static %}

{% block content %}
<h1>Top 10 Argentina Organizers</h1>
<br>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">sale__payment_amount__epp</th>
				</tr>
			</thead>
			<tbody>
				{% for index, transactions in top_ars.iterrows %}
				<tr>
					<td><a href="{% url 'organizer-transactions' organizer_id=transactions.eventholder_user_id %}">{{transactions.email}}</a></td>
					<td>{{transactions.sale__payment_amount__epp}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<br>
<h1>Top 10 Brazil Organizers</h1>
<br>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Email</th>
					<th scope="col">sale__payment_amount__epp</th>
				</tr>
			</thead>
			<tbody>
				{% for index, transactions in top_brl.iterrows %}
				<tr>
					<td><a href="{% url 'organizer-transactions' organizer_id=transactions.eventholder_user_id %}">{{transactions.email}}</a></td>
					<td>{{transactions.sale__payment_amount__epp}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}
