:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  --primary-color: #1E0A3C;
  --secondary-color: #D1410C;
}

* {
  padding:0; margin:0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
}

/* Utilities */
.overflow-auto {
  overflow: auto !important;
}

.cursor-default {
  cursor: default;
}

/* Navbar */
.navbar {
  background-color: #1E0A3C;
  color: #D1410C;
  z-index: 10;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-text {
  padding-left: .5rem;
  padding-right: .5rem;
  border-left: rgba(255,255,255,.5) 1px solid;
}

/* Content */

h1 {
  color: #D1410C;
}

h2, h3, h4, h5, h6 {
  color: #1E0A3C;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 6;
  overflow: auto;
}

.wrapper {
  flex: 1;
  padding: 3rem;
  transition: all 0.4s;
}

.transactions-table {
  overflow-x: scroll;
  padding-left: 0;
  padding-right: 0;
}

.transactions-table table tr td {
  white-space: nowrap;
}

.dashboard-grouper-td {
  vertical-align: middle !important;
  background-color: #f2f2f2;
  text-align: center;
}

/* Sidebar */
#sidebar-wrapper {
  min-width: 220px;
  transition: all 0.4s;
  overflow-y: scroll;
  flex: 1;
}

#sidebar-wrapper.toggled {
  min-width: 0;
  flex: 0;
}

#sidebar-wrapper.border-right {
  border-right: 1px solid #1E0A3C !important;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group-item {
  padding: 0.875rem 1.25rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* Sidebar Toggler Button */
#sidebar-toggle {
  margin-left: -1px;
  position: absolute;
  top: 100px;
  border-radius: 0 .25rem .25rem 0;
}

#sidebar-toggle span {
  transition: all 0.5s;
}

#sidebar-toggle.toggled span {
  transform: rotate(180deg);
}

#sidebar-toggle.btn:focus,
#sidebar-toggle.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* Footer */
footer {
  background-color: #1E0A3C;
  color: #FFF;
  bottom: 0;
  width: 100%;
}

footer a {
  color:  #D1410C;
  font-size: 1.2rem;
}

.footer-copyright {
  font-size: 1rem;
}

.footer-copyright a {
  font-size: 1rem;
}

/* EVB Buttons */
.btn-outline-evb {
  color: #1E0A3C;
  background-color: #fff;
  background-image: none;
  border-color: #1E0A3C;
}

.btn-outline-evb:hover,
.btn-outline-evb:not(:disabled):not(.disabled).active,
.btn-outline-evb:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #1E0A3C;
  border-color: #1E0A3C;
}

.btn-evb-orange {
  color: #fff;
  background-color: #D1410C;
  border-color: #D1410C;
}

.btn-evb-orange:not(:disabled):not(.disabled).active,
.btn-evb-orange:not(:disabled):not(.disabled):active,
.btn-evb-orange:hover {
  color: #fff;
  background-color: #c73c0a;
  border-color: #c73c0a;
}

.btn-evb-orange:focus,
.btn-evb-orange:active {
  box-shadow: 0 0 0 0.2rem rgba(209, 65, 12, 0.5);
}

.table a {
  color:  #D1410C;
}

/* Charts */
.dashboard-chart-container {
  min-width: 370px;
  min-height: 300px;
  max-width: 100%;
}

/* Summarized Table */
.summarized-key {
  min-width: 175px;
}

.hidden {
  display: none;
}

#gif {
  color: #D1410C;
}

.tooltip-inner {
  max-width: 300px;
}
