:root {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  --primary-color: #1E0A3C;
  --secondary-color: #D1410C;
}

* {
  padding:0; margin:0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

h3 {
  color: #1E0A3C;
}

.overflow-auto {
  overflow: auto !important;
}

.wrapper {
  flex: 1;
  padding: 3rem;
}

.navbar {
  background-color: #1E0A3C;
  color: #D1410C;
}

.navbar-brand {
  font-size: 1.5rem;
}

footer {
  background-color: #1E0A3C;
  color: #FFF;
  bottom: 0;
  width: 100%;
}

footer a {
  color:  #D1410C;
  font-size: 1.2rem;
}

.footer-copyright {
  font-size: 1rem;
}

.footer-copyright a {
  font-size: 1rem;
}

.btn-primary {
  background-color: #1E0A3C!important;
  border: #1E0A3C;
}

.btn-primary:not(:disabled):not(:disabled):active {
    color: #fff;
    background-color: #1E0A3C!important;
    border-color: #1E0A3C!important;
  }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

a:hover {
  border-color: rgba(255, 255, 255, .75);
}

.sidebar-heading {
  background-color: #1E0A3C!important;
  color: #fff;
}

.list-group-item {
  padding: 0.875rem 1.25rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#menu-toggle {
  color: #fff;
  font-size: 20px;
}
